@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,600;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;

	/*justify-content: center;*/
	background: url("background.jpg") no-repeat top center;
	background-size: 110%;

	/*overflow: visible;*/
}

@media screen and (max-width: 414px) {
	body {
		background-image: url("page_1.png");
	}
}

body.second{
	background: url("background-2.png") no-repeat local top center;
	background-size: 110%;
}


@media screen and (max-width: 414px) {
	body.second {
		background: url("phone-2.png") no-repeat top center scroll;
	}
}

.second-result-additional{
}


@media screen and (max-width: 414px) {
	.second-result-additional {
		background: url("phone-3.png") no-repeat top center fixed;
		margin-top: 0;
		padding-top: 15px;
		background-size: 95%;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 680px;
	text-align: center;
	margin: 0 auto;
}

@media screen and (max-width: 414px) {
	.content {
		display: flex;
		width: 81.6%;
		flex-direction: column;
		gap: 0;
		/*margin: 130px auto 0;*/
		text-align: center;
	}
}


.start {
	margin: 95px auto 10px auto;
	width: 615px;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	color: #502751;
}

@media screen and (max-width: 414px) {
	.start {
		height: 44px;
		font-weight: 600;
		font-size: 21px;
		line-height: 26px;
		top: 140px;
	}
}

.info {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	height: 120px;
}

@media screen and (max-width: 414px) {
	.info {
		font-weight: 600;
		text-align: center;
		color: #2E222F;
		margin: 220px auto 37px;

		height: 68px;
		font-size: 14px;
		line-height: 17px;
	}
}


a {
	text-decoration: none;
	color: #ffffff;
}

.counter {
	font-weight: 500;
	font-size: 32px;
	line-height: 44px;
	text-align: center;

	color: #502751;
}
@media screen and (max-width: 414px) {
	.counter {
		font-weight: 500;
		font-size: 24px;
		line-height: 33px;

		text-align: center;
		color: #502751;
	}
}

.quiz {
	display: flex;
	text-align: center;
	gap: 25px;
	flex-direction: column;
	margin: 32px auto;
}

@media screen and (max-width: 414px) {
	.quiz {
		width: 85.6%;
		gap: 0;
		margin: 26px auto 0;
		text-align: center;
	}
}

.title {
	width: 952px;
	height: auto;

	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	margin: 31px auto;
	color: #000000;
}

@media screen and (max-width: 414px) {
	.title {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		height: auto;
		margin: 22px auto 26px;
		width: 85.6%;
		color: #2E222F;
		text-align: center;
	}
}

/*.summary {*/
/*	text-align: center;*/
/*	margin: 0.5rem 0 1rem;*/
/*	font-size: 1.2rem;*/
/*	font-weight: 400;*/
/*}*/

/*.result {*/
/*	text-align: center;*/
/*	font-size: 1.2rem;*/
/*	font-weight: 700;*/

/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*}*/

/*.quiz-header {*/
/*	width: 952px;*/
/*	font-weight: 600;*/
/*	font-size: 30px;*/
/*	line-height: 37px;*/
/*	margin-top: 45px;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/

/*	color: #000000;*/
/*}*/

.quiz-list {
	list-style-type: none;
	width: 654px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 414px) {
	.quiz-list {
		list-style-type: none;
		width: 321px;
		margin-left: auto;
		margin-right: auto;
		top: 0;
	}
}

.quiz-list li {
	width: 654px;
	height: 54px;
	margin: 20px auto;

	background: #6FC994;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25.54px;
	padding: 0;
}

@media screen and (max-width: 414px) {
	.quiz-list li{
		width: 321px;
		height: 59px;
		margin: 12px auto 0;
		/*padding: 0;*/

		background: #6FC994;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 25.54px;
	}
}

.quiz-list li button {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	width: 654px;
	height: 54px;

	color: #2E222F;
	background: none;
	margin-left: auto;
	margin-right: auto;
	border: none;
	text-align: left;
	vertical-align: center;
	font-family: 'Montserrat', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (max-width: 414px) {
	.quiz-list li button {
		font-family: 'Montserrat', sans-serif;
		/*font-weight: 600;*/
		font-size: 12px;
		line-height: 15px;
		padding-left: 16px;
		padding-right: 16px;

		color: #2E222F;

		width: 321px;
		height: 59px;

		background: none;
		border: none;
		text-align: left;
		vertical-align: center;
	}
}

.quiz-list li button:hover {
	background: #55274F;
	width: 654px;
	height: 54px;

	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25.54px;
	color: #fff;
}

@media screen and (max-width: 414px) {
	.quiz-list li button:hover {
		background: #55274F;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 25.54px;
		color: #fff;

		width: 321px;
		height: 59px;
	}
}

.submit {
	background-color: #55274F;
	font-family: 'Montserrat', sans-serif;
	color: #fff;

	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	text-align: center;

	border: none;
	display: block;
	width: 390px;
	height: 54px;

	margin: 50px auto;
	border-radius: 25.54px;
	box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 414px) {
	.submit {
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
		font-size: 32px;
		line-height: 39px;
		text-align: center;

		color: #FFFFFF;

		border: none;
		display: block;

		margin: 30px auto;
		width: 231px;
		height: 40px;

		background: #55274F;
		box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
		border-radius: 25.54px;
	}
}

.submit-second {
	background-color: #55274F;
	font-family: 'Montserrat', sans-serif;
	color: #fff;

	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	border: none;
	display: block;
	width: 306px;
	height: 44px;

	margin: 50px auto;
	border-radius: 25.54px;
	box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 414px) {
	.submit-second {
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
		font-size: 19px;
		line-height: 23px;
		text-align: center;

		color: #FFFFFF;

		border: none;
		display: block;

		margin: 30px auto;
		width: 231px;
		height: 40px;

		background: #55274F;
		box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
		border-radius: 25.54px;
	}
}

.submit.result {
	margin: 31px auto 0;
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

@media screen and (max-width: 414px) {
	.submit.result {
		margin: 43px auto 12px;
		font-family: 'Montserrat', sans-serif;
		color: #FFFFFF;
	}
}

.submit.main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 390px;
	margin-top: 0;
}

@media screen and (max-width: 414px) {
	.submit.main {
		width: 277px;
		height: 70px;

		display: flex;
		background: #55274F;
		box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
		border-radius: 25.54px;
	}
}

.submit:hover {
	background-color: #7b179d;
}

.interesting-info {
	font-weight: 500;
	font-size: 36px;
	margin-top: 0;

	color: #42B54A;
	text-align: center;
}

@media screen and (max-width: 414px) {
	.interesting-info {
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		color: #42B54A;
		margin: 30px auto 4px;
		width: 273px;
	}
}

.interesting-info.text {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	width: 1194px;
	color: #000000;
	margin: 15px auto 43px;
}

@media screen and (max-width: 414px) {
	.interesting-info.text {
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		text-align: left;
		width: 85.6%;
		color: #000000;
		margin: 4px auto 25px;
	}
}

img.user-image {
	object-fit: contain;
	display: block;
	margin-top: 29px;
	margin-left: auto;
	margin-right: auto;
	gap: 30px;

	width: 184px;
	height: 184px;
}

@media screen and (max-width: 414px) {
	img.user-image {
		object-fit: contain;
		display: block;
		width: 112px;
		height: 112px;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
	}
}

img, .ant-image-mask {
	margin-top: 29px;
	border-radius: 90px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	gap: 30px;

	width: 184px;
	height: 184px;
}

@media screen and (max-width: 414px) {
	img, .ant-image-mask {
		margin-top: 29px;
		border-radius: 66px;
		display: block;
		width: 112px;
		height: 112px;
		margin-left: auto;
		margin-right: auto;
	}
}

.commentary {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	width: 1194px;
	margin: 10px auto;

	color: #000000;
}

@media screen and (max-width: 414px) {
	.commentary {
		text-align: left;
		margin: 30px auto;
		width: 85.6%;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;

		color: #000000;
	}
}

.user-name {
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	text-align: center;

	color: #2E222F;
	margin-top: 8px;
}

@media screen and (max-width: 414px) {
	.user-name {
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		text-align: center;

		color: #2E222F;
		margin-top: 10px;
	}
}

.user-position {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #6FC994;
	margin-top: 0;
}

@media screen and (max-width: 414px) {
	.user-position {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		text-align: center;

		color: #6FC994;
		margin: 2px 27px 0 27px;
	}
}

.result-text {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	margin: 27px auto;

	color: #2E222F;
}

@media screen and (max-width: 414px) {
	.result-text {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		margin: 12px auto;

		color: #000000;
	}
}

.result {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 500;
	font-size: 25px;
	line-height: 31px;
	text-align: center;

	color: #2E222F;
}

@media screen and (max-width: 414px) {
	.result {
		margin: 50px auto;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		text-align: center;

		color: #2E222F;
	}
}

.result-text-final {
	margin: 60px auto 15px;
	font-weight: 600;
	font-size: 25px;
	line-height: 31px;
	text-align: center;
	width: 684px;

	color: #2E222F;
}

@media screen and (max-width: 414px) {
	.result-text-final {
		margin: 50px auto;
		font-weight: 600;
		font-size: 24px;
		text-align: center;
		width: 321px;

		color: #2E222F;
	}
}

.result-additional {
	margin: 0 auto 0 auto;
	width: 242px;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	color: #2E222F;
	text-align: center;
}

@media screen and (max-width: 414px) {
	.result-additional {
		font-weight: 600;
		font-size: 24px;
		width: 321px;
		line-height: 29px;
		text-align: center;
		margin: 13px auto;
		color: #2E222F;
	}
}

.video {
	margin: 25px auto 40px;
	display: block;
	text-align: center;
	width: 420px;
	height: 279px;
	background: #6FC994;
	border-radius: 25.54px;
}

@media screen and (max-width: 414px) {
	.video {
		margin: 25px auto 25px;
		display: block;
		text-align: center;
		width: 321px;
		height: 216px;
		background: #6FC994;
		border-radius: 25.54px;
	}
}

.share {
	font-family: 'Montserrat', sans-serif;
	background-color: #55274F;
	color: #fff;

	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	border: none;
	display: block;
	width: 306px;
	height: 45px;

	margin: 0 auto;
	border-radius: 25.54px;
	box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 414px) {
	.share {
		font-family: 'Montserrat', sans-serif;
		background-color: #55274F;
		color: #fff;

		font-weight: 500;
		font-size: 19px;
		line-height: 23px;
		text-align: center;

		border: none;
		display: block;
		width: 231px;
		height: 40px;

		margin: 0 auto;
		border-radius: 25.54px;
		box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
	}
}

.share:hover {
	background-color: #7b179d;
}

.image-main {
	margin-top: 75px;
	width: 265px;
	height: 61px;
}

@media screen and (max-width: 414px) {
	.image-main {
		margin: 50px auto 45px;
		width: 185px;
		height: 42px;
	}
}

.image-main-2 {
	margin: 75px auto;
	width: 265px;
	height: 61px;
}

@media screen and (max-width: 414px) {
	.image-main-2 {
		margin: 52px auto 45px;
		width: 185px;
		height: 42px;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
